<h2>Search authors</h2>
<form action="/authors">
<label>Name</label>
<input type="text" name="name3" value="<%= searchOptions.name3 %>">
<!-- value="<%= searchOptions.name %>" holds the searched input in the search field -->
<button type="submit">Search</button>
</form>


<% authors.forEach( author => { %>

    
    <a href="/authors/<%= author.id %>"><%= author.name2 %></a>
    <br>

    <!--
    <a href="/authors/<%= author.id %>/edit">edit</a>
    <%- include('../partials/deleteForm', {url: `/authors/${author.id}`})%>
    -->
<% }) %>



  








